<div class="container d-flex justify-content-center">

  <form action="/shorten" method="POST">
    <div class="form-grop">
      <label for="url">網址</label>
      <input type="text" class="form-control" placeholder="Input URL here" name="url" id="url" style="width: 500px;"
        required>
    </div>
    <div class="mt-3">
      <button type="submit" class="btn btn-outline-primary">Shorten</button>
      <button type="reset" class="btn btn-danger">重新輸入</button>
    </div>
  </form>
</div>